body {
    background: #000;
    color: #fff;
    overflow-x: hidden;
    margin: 0;
}

.white-strip {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background: #fff;
    z-index: 1001;
    transition: 0.4s ease;
}

.white-strip.move {
    left: 250px;
}

.white-strip i {
    font-size: 28px;
    color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #111;
    padding-top: 60px;
    transition: 0.4s;
    z-index: 998;
}

.sidebar.open {
    left: 0px;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
}

/* .sidebar .menu li {
    padding: 5px 15px;
    font-size: 17px;
    transition: 0.3s;
} */

.menu li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px 15px;
    font-size: 17px;
    transition: 0.3s;
}

.sidebar-footer {
    font-size: 14px;
    color: #ccc;
}

.sidebar-footer i {
    transition: 0.3s;
}

.sidebar-footer i:hover {
    color: white;
}

#mainContent {
    transition: 0.4s;
}

#mainContent.shift {
    margin-left: 100px;
}

.white-strip img.logo {
    width: 40px;
}

.overlayer {
    inset: 0;
    background: rgba(241, 239, 239, 0.8);
    color: black;
    font-weight: 500;
    font-size: 25px;
    transform: translateY(100%);
}

.overlayer2 {
    inset: 0;
    background: rgba(241, 239, 239, 0.8);
    color: black;
    font-weight: 400;
    font-size: 17px;
    transform: translateY(100%);
    text-align: center;
    transform: translateY(100%);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.image:hover .overlayer2 {
    transform: translateY(0%);
    transition: all 500ms;
}

.image {
    overflow: hidden;
    border-radius: 10px;
}

.image:hover .overlayer {
    transform: translateY(0%);
    transition: all 500ms;
}

.form-control {
    background-color: black;
    border-color: beige;
    color: rgb(248, 240, 240);
    font-weight: 600;
}

.img-details{
    margin-top: 50px;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.badge{
    background-color: #cff4fc;
    color: #055160;
    font-weight: 400;
}